language: cpp
sudo: true

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
           - g++-6
      env:
        - MATRIX_EVAL="CXX=g++-6 && CC=gcc-6"
    - os: osx
      osx_image: xcode9.4
      env: 
        - MATRIX_EVAL="CXX=clang++ && CC=clang"

before_install:
  - eval "${MATRIX_EVAL}"
  # Install a supported cmake version (>= 3.10)
  - wget -O cmake.sh https://cmake.org/files/v3.10/cmake-3.10.0-rc1-Linux-x86_64.sh 
  - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr/local

script:
  - cmake .
  - cmake --build .
